@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

//fonts 
@import url('https://fonts.googleapis.com/css?family=Raleway:800,600,400i,500');
@import url('https://fonts.googleapis.com/css?family=Playball');
@import url('https://fonts.googleapis.com/css?family=Roboto');
$main-font: 'Raleway';
$second-font: 'Playball';

//colors
$main-font-color: #534135;
$second-font-color: #fff;
$h1-font-color: #5b3821;
$h6-font-color: #f9680b;
$title-separator-color: #e7e7e7;
$title-separator-before: #cc9a50;
$button-hover: #8fbe26;
$button-colors: #a6ce37;
$nav-link-colors: #ece0ce;
$jumbotron-first-color: #EDE574;
$jumbotron-second-color: #E1F5C4;
$jumbotron-retangle-color: #99d328;
$h3-intro-color: #4a4a4a;
$h4-intro-color: #94c000;
$box-shadow-color: #94c000;
$about-button: #cdaa5e;
$about-button-action: #bd9346;
$category-color: #f26522;
$products-border: #f0f0f0;
$icons-color: #fd9039;
$contact-border: #e5e5e5;
$form-borders: #eeeeee;
$footer-hover: #ffe8da;

$grid-breakpoints: ('xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1440px,
  'xxxl': 1600px);

/* RWD mixins
@include media-breakpoint-up(sm) {
	@media (min-width: 544px) {}
}
@include media-breakpoint-down(sm) {
	@media (min-width: 544px) and (max-width: 768px) {}
}
@include media-breakpoint-between(sm, md) {
	@media (min-width: 576px) and (max-width: 991px) {}
} */

//extended classes
.button {
  font-weight: 600;
  line-height: 100%;
  margin: 10px 0;
  outline: 0 none;
  padding: 16px 40px;
  white-space: nowrap;
  color: $second-font-color;
  background-color: $button-colors;
  border: 2px solid $button-colors;
}

//general styles
* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  line-height: 1.6;
  color: $main-font-color;

  h1 {
    color: $h1-font-color;
    font-weight: 700;
    margin: 10px 0;

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }

    @include media-breakpoint-up(md) {
      font-size: 40px;
      margin: 10px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 55px;
    }
  }

  h2 {
    font-weight: 600;
    line-height: 1.4;
    margin: 10px 0 20px;

    @include media-breakpoint-down(sm) {
      font-size: 22px;
    }

    @include media-breakpoint-up(md) {
      font-size: 26px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 30px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
    font-weight: 700;
  }

  h6 {
    color: $h6-font-color;
    font-size: 26px;
    font-family: $second-font;
    margin-top: 10px;
  }
  a {
    color: $main-font-color;
    text-decoration: none;
    &:hover {
      color: $button-hover;
      text-decoration: none;
    }
  }
}

.container {
  @include media-breakpoint-up(xxl) {
    max-width: 1400px;
  }
}

.btn {
  &:focus {
    box-shadow: 0 0 0 0.2rem $button-colors;
  }
}

.no-padding {
  [class*='col-'] {
    padding: 0;
  }
}

.title-separator {
  width: 150px;
  height: 1px;
  display: block;
  position: relative;
  margin: 40px auto 30px auto;
  background-color: $title-separator-color;

  &::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    top: -2px;
    background-color: $title-separator-before;
    left: 73px;
  }
}

.separator.bottom {
  &::after {
    z-index: 2;
    left: 0;
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    background-position: center;
    background-repeat: repeat-x;
    background-image: url(../img/separator.jpg);
    bottom: -20px;
  }
}

.separator.top {
  &::before {
    z-index: 2;
    left: 0;
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    background-position: center;
    background-repeat: repeat-x;
    background-image: url(../img/separator.jpg);
  }
}

.arrow-separator {
  top: 0;
  width: 100%;
  height: 42px;
  position: absolute;
  z-index: 5;
  background-image: url(../img/direction-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

//specific styles
.navigation {
  padding: 0;
  background-image: url(../img/header.jpg);
  height: 95px;
  background-position: bottom center;
  background-repeat: repeat-x;
  transition: top 0.2s ease-in-out;
  width: 100%;
  z-index: 100;
  top: 0;

  .logo {
    height: 64px;
    width: auto;
    margin-left: 15px;
  }

  .navbar {
    margin-top: 25px;
    padding: 0px;

    .navbar-toggler-icon {
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $second-font-color;

      @include media-breakpoint-between(xs, md) {
        margin-right: 10px;
      }
    }

    .navbar-collapse {
      @include media-breakpoint-down(md) {
        position: absolute;
        width: 100%;
        margin-top: 9px;
        background-color: rgba(8, 3, 1, 0.95);
        top: 60px;
        left: 0;

        .navbar-nav {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;
          margin: 15px 0 20px;
        }
      }
    }

    .nav-link {
      font-size: 15px;
      color: $second-font-color;
      padding: 15px 10px;
      margin: 8px 15px;

      &:hover {
        color: $nav-link-colors;
      }
    }

    .form-inline {
      @include media-breakpoint-between(xs, md) {
        padding: 15px;
      }
    }

    .btn-outline-success {
      font-size: 15px;
      margin: 0 20px;
      @extend .button;
      background: transparent;

      &:hover {
        background-color: $button-colors;
      }
    }
  }
}

.jumbotron {
  background-image: url(../img/jumbotron_photo.jpeg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: $jumbotron-first-color;
    background: linear-gradient(to bottom, $jumbotron-second-color, $jumbotron-first-color);
  }

  @include media-breakpoint-down(sm) {
    padding: 180px 15px;
  }

  @include media-breakpoint-up(md) {
    padding: 240px 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 280px 0;
  }

  .jumbotron-text {
    position: relative;

    h1 {
      &::after {
        content: ' ';
        display: block;
        width: 40px;
        height: 2px;
        margin: 15px auto 20px;
        background-color: $jumbotron-retangle-color;
      }
    }

    h2 {
      @include media-breakpoint-down(sm) {
        font-size: 18px;
      }

      @include media-breakpoint-up(md) {
        font-size: 20px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 22px;
      }
    }

    .btn-jumbtron {
      @extend .button;

      &:hover {
        background-color: $button-hover;
        border-color: $button-hover;
      }
    }
  }
}

.intro-features {
  padding-top: 0;
  margin-top: -100px;
  margin-bottom: 50px;

  .no-gutter {
    justify-content: center;
  }

  .intro-features-wrap {
    z-index: 3;
    position: relative;
    background-color: $second-font-color;
    padding: 5px 20px;

    .min-feature {
      background-color: $second-font-color;
      padding: 5px;
      margin-bottom: 40px;

      h3 {
        font-size: 24px;
        color: $h3-intro-color;
        font-weight: 300;
        padding: 15px 5px 5px 5px;
        margin: 0;
        text-transform: uppercase;
      }

      h4 {
        font-size: 22px;
        color: $h4-intro-color;
        font-weight: 700;
        padding: 0;
        margin: 0;
        text-transform: uppercase;
      }
    }

    figure {
      .image {
        transition: all 0.75s ease-in-out;
        margin: 0;
        padding: 0;
        background: $second-font-color;
        overflow: hidden;
        margin-bottom: 15px;
        position: relative;

        @include media-breakpoint-up(lg) {
          &:hover {
            transform: scale(1.1);
            box-shadow: 10px 10px 2px $box-shadow-color;
            z-index: 5;
          }
        }

      }
    }
  }

  .btn-about {
    @extend .button;
    background-color: $about-button;
    border-color: $about-button;

    &:hover,
    &:focus,
    &:active {
      background-color: $about-button-action;
      border-color: $about-button-action;
    }
  }

  .about {
    margin-top: 40px;

    .about-text {
      letter-spacing: 0.5px;
    }

    .modal-body {
      font-family: 'Roboto', sans-serif;
    }
  }
}

.gallery {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0;
  margin: 0 auto;

  .owl-carousel {
    .item {
      position: relative;
      margin: 0 auto;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.4) 45%, rgba(0, 0, 0, 0.7) 100%);
        transition: background-position 0.4s;
        background-size: auto 200%;
        background-position: 0 0;

        &:hover {
          background-position: 0 100%;
          cursor: -webkit-grab;
        }

        .content {
          display: block;
          bottom: 40px;
          width: 100%;
          position: absolute;
          text-align: center;
          min-height: 80px;

          a {
            text-decoration: none;
          }
        }

        .white {
          color: $second-font-color;
          position: relative;
          width: 70%;
          margin: 0 auto;
          font-size: 15px;

          @include media-breakpoint-up(xl) {
            font-size: 18px;
          }
        }

        .category {
          font-size: 13px;
          font-weight: 600;
          color: $second-font-color;
          display: inline-block;
          margin: 0 0 10px 0;
          padding: 3px 7px;
          line-height: 16px;
          pointer-events: auto;
          background-color: $category-color;
          border-radius: 3px;
        }
      }
    }
  }
}

.products-list {
  padding-top: 70px;
  padding-bottom: 100px;

  .fbox {
    position: relative;
    border: 1px solid $products-border;
    padding: 40px 30px 40px 80px;
    margin-top: 30px;
  }

  .fa {
    position: absolute;
    display: block;
    left: 26px;
    top: 45px;
    font-size: 32px;
    color: $icons-color;
  }

  .price-text {
    margin-top: 30px;
  }
}

.testimonials {
  background: url(../img/testimonials-bg.jpg) 0 fixed no-repeat;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;

  .testimonials-container {
    padding: 120px 0 60px;
  }
  
  .testimonials-item {
    padding: 50px 30px 40px 30px;
    background-color: #fff;
    border-radius: 4px;

    .testimonials-item-header {
      margin: 10px 0;
    }

    .testimonials-img {
      height: 80px;
      width: 80px;
      border-radius: 45px;
      margin: 0 auto;
    }

    .fa-star {
      font-size: 14px;
      color: #ffbb37;
    }

    .client-opinion {
      margin: 0;
      border-left: 0;
      .client {
        padding: 5px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
      }

      p {
        padding: 10px 0 20px;
        margin: 0;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
}

.certificate-section {
  text-align: center;
  padding: 110px 0;

  .certificate {
    position: relative;
    margin-bottom: 30px;

    .certificate-text {
      color: #534135;
      font-weight: 600;
      padding: 20px 10px;
    }
  }

  .counter-bg {
    padding: 0 0 200px;
    background-image: url(../img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
  }
  
  .number {
    margin: 0 auto;
    display: inline-block;
  }

  .counter-box {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 0 28px 0;
    border-radius: 4px;
    border: 1px solid #f7f7f7;
    position: relative;
  }

  .count {
    font-size: 36px;
    
    padding: 5px 15px;
    &::after {
      content: ' ';
      display: block;
      width: 40px;
      height: 1px;
      margin: 36px auto 0px;
      background-color: #99d328;
    }
  }

  .counter-text {
    font-size: 18px;
  }
}